#navWrapper {
	background-color: #ffffff;
	color: #424242;
}

.sidenav {
	opacity: 0.9;
}

#mobile-demo {
	font-size: 35px;
}

.card.medium {
	height: 200px;
	width: 400px;
}

/* for log in page */

span.lever {
	background-color: #f48fb1 !important;
}

.switch label .lever:after {
	background-color: #e91e63 !important;
}

#rejectLogin {
	display: none;
	padding-left: 10px;
	background-color: rgba(255, 0, 0, 0.698);
}