body {
	background-image: url('./background.png');
	font-family: 'Bebas Neue', 'Open Sans Condensed';
}

#navWrapper {
	background-color: #ad1357;
}

.card.medium {
	height: 200px;
	width: 400px;
}

#eventName {
	font-size: 30px;
}

.eventLink {
	text-transform: uppercase;
	font-size: 20px;
}

/* FORMS */

/* label color */

.input-field label {
	color: #f8bbd0;
}

/* label focus color */

.input-field input:focus+label {
	color: #f8bbd0 !important;
}

/* label underline focus color */

.input-field input:focus {
	border-bottom: 1px solid #f8bbd0 !important;
	box-shadow: 0 1px 0 0 #f8bbd0 !important;
}

/* valid color */

.input-field input.valid {
	border-bottom: 1px solid #f8bbd0 !important;
	box-shadow: 0 1px 0 0 #f8bbd0 !important;
}

/* invalid color */

.input-field input.invalid {
	border-bottom: 1px solid #ff0000 !important;
	box-shadow: 0 1px 0 0 #f8bbd0 !important;
}

/* Login Form */

span.lever {
	background-color: #f48fb1 !important;
}

.switch label .lever:after {
	background-color: #e91e63 !important;
}

#rejectLogin {
	display: none;
	padding-left: 10px;
	background-color: rgba(255, 0, 0, 0.698);
}