body{
    
    background-color: teal;
}

.dropdown-menu{
    filter: brightness(300%);   
}

.box{
    padding-right: 550px;
    border-color: darkblue;
}

.btn-primary{
    background-color: rgb(32, 32, 32);
}

